@import url(./__avatar-content/profile__avatar-content.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__row/profile__row.css);
@import url(./__name/profile__name.css);
@import url(./__title/profile__title.css);

.profile {
  padding-top: 40px;
  width: 882px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:919px) {
  .profile {
    padding-top: 42px;
    width: 282px;
  }
}
