@import url(./__image/add-button__image.css);

.add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000;
  padding: 0;
  font-size: 0;
  align-self: center;
  margin-left: auto;
}

@media screen and (max-width:919px) {
  .add-button {
    width: 282px;
    margin-top: 36px;
  }
}
