.save-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.save-button {
  width: 358px;
  height: 50.15px;
  background: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 2px;
  display: block;
  margin: auto;
  margin-top: 48px;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  transition: background .2s ease-in-out;
}

@media screen and (max-width:919px) {
  .save-button {
    width: 200px;
  }
}
