.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0;
}

@media screen and (max-width:919px) {
  .profile__name {
    font-size: 22px;
    line-height: 2.55;
    text-align: center;
    margin-left: auto;
  }
}
