@import url(./__copyright/footer__copyright.css);

.footer {
  padding-top: 46px;
  padding-bottom: 60px;
  width: 882px;
  margin: auto;
}

@media screen and (max-width:919px) {
  .footer {
    padding-top: 28px;
    padding-bottom: 36px;
    width: 282px;
  }
}
