@import url(./__click/element__click.css);
@import url(./__info/element__info.css);
@import url(./__title/element__title.css);

.element {
  background: #FFFFFF;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 282px 282px;
  width: 282px;
  height: 361px;
}
