.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width:919px) {
  .elements__list {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
  }
}
