.heart-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 18.13px;
  padding-top: 21px;
  background-image: url("../../images/heart-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
